@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,700&display=swap');

/*RESET BASICO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main,
footer,
img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/*Fim do reset*/

/*Header*/

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.logo {
    color: #D6000D;
    font-weight: 900;
    font-size: 2rem;
}

.logo span {
    color: black;
    font-size: 3rem;
}

.nav-list {
    display: none;
    transition: display 51s ease;
}

.nav-list.ative {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: #D6000D;
}

.icone_xmenu {
    position: absolute;
    right: 15px;
    top: 20px;
    right: 2;
}

.nav-list li {
    padding: 10px;
    margin: 50px 0px;
    font-size: 20px;

}

.nav-list li a {
    color: aliceblue;
    text-decoration: none;
}

.icone_menu {
    color: #D6000D;
}

/*Fim Header*/

/*Main*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__imagemBanner {
    max-width: 75%;
    height: 75%;
}

.banner-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.banner-txt p {
    font-weight: 900;
}

.banner-txt h1 {
    font-weight: 900;
    color: #D6000D;
    font-size: 2.5rem;
}

.banner-txt button {
    background-color: #D6000D;
    color: white;
    padding: 15px;
    min-width:68%;
    border: none;
    border-radius: 13px;
    margin-top: 25px;
    font-size: 0.9rem;
}

.servicos {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__imagemServico {
    max-width: 50%;
    height: 50%;
}

.servicos_text p {
    margin: 25px 0px;
}

.servicos_text i {
    color: #D6000D;
    margin-right: 10px;
}

.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}

.form_c {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.contactos p {
    font-weight: 900;
    margin-bottom: 10px;
}

.contactos input {
    width: 50%;
    border: none;
    border-radius: 13px;
    background-color: rgb(219, 218, 218);
    color: rgb(149, 149, 149);
    padding: 15px;
    margin-bottom: 10px;
}

.contactos button {
    width: 50%;
    border: none;
    border-radius: 13px;
    background-color: #D6000D;
    color: white;
    font-weight: 500;
    padding: 15px;
    margin-bottom: 10px;
}


.profissionais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.profissionais .__profissional:first-child {
    margin-bottom: 30px;
}

.__profissional {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
    background-color: rgb(220 220 220);
    padding: 23px 10px;
    border-radius: 10px;
}

.content_c {
    margin: 0px 12px;
}

.circulo {
    width: 55px;
    height: 55px;
    background-color: #D6000D;
    border-radius: 50%;
}

.nome {
    line-height: 17px;
    margin-top: 10px;
}

/*Fim Main*/

/*Footer*/

.content_f {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 0px 30px;
}

.codar_f {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.codar_f h1 {
    margin-top: 20px;
    font-size: 3rem;
}

.sobre_f,
.contactos_f,
.redesociais {
    width: 57%;
    margin-bottom: 20px;
    text-align: left;
}

.contactos_f h1 {
    margin-bottom: 10px;

}

.contactos_f p:nth-child(2) {
    margin-bottom: 10px;
}

.contactos_f p:nth-child(3) {
    margin-bottom: 5px;
}

.redesociais h1 {
    margin-bottom: 10px;
}

.icones_redes a {
    color: #D6000D;
    font-size: 2.5rem;
}

.icones_redes i {
    margin-right: 20px;
}

.icones_redes i:last-child {
    margin-right: 0;
}

@media screen and (min-width:768px) {
    .banner {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        width: 100%;
    }

    .__imagemBanner {
        max-width: 50%;
        height: 50%;
    }

    .banner-txt {
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
    }

    .servicos {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 0px;
    }

    .__imagemServico {
        max-width: 30%;
        height: 50%;
    }

    .contactos_c {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contactos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 72%;
    }

    .form_c {
        flex-direction: row;
        width: 65%;
        gap: 10px;
        align-items: center;
    }


    .profissionais {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .profissionais .__profissional:first-child {
        margin-bottom: 0px;
    }

    .__profissional {
        flex-direction: row;
        width: 43%;
        align-self: center;
    }

    .codar_f {
        align-items: initial;
    }
    

    .codar_f h1 {
        margin-top: 0px;
    }

    .content_f {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 181px;
        padding: 33px 30px;
    }

    .sobre_f,
.contactos_f,
.redesociais {
    width: initial;
    margin-bottom: 0px;
}

.codar_f {
    margin-bottom: 0px;
}

}
