@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

img {
   width: 100%;
   height: 100%; 
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.logo {
    color: #D6000D;
    font-weight: 900;
}

.logo span {
    color: black;
    font-size: 3rem;
}

.nav-list {
    transition: background-color  1s ease-in;
    display: none;
}

nav {
    
}

.nav-list.ative {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D6000D;
    list-style: none;
     
}

.icone_xmenu {
    position: absolute;
    right: 15px;
    top: 10px;
}

.nav-list li  {
   padding: 10px;
   margin: 50px 0px;
   font-size: 20px;
   
}

.nav-list li a {
    color: aliceblue;
    text-decoration: none;
}

.icone_menu {
    color: #D6000D;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__imagemBanner {
    max-width: 75%;
    height: 75%;
}

.banner-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.banner-txt p {
    font-weight: 900;
}

.banner-txt h1 {
    font-weight: 900;
    color: #D6000D;
    font-size: 2.5rem;
}

.banner-txt button {
    background-color: #D6000D;
    color: white;
    padding: 15px;
    width: 85%;
    border: none;
    border-radius: 13px;
    margin-top: 25px;
    font-size: 0.9rem;
}

.servicos {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__imagemServico {
    max-width: 50%;
    height: 50%;
}

.servicos_text p {
    margin: 25px 0px;
}

.servicos_text i {
    color: #D6000D;
    margin-right: 10px;
}

.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}

.contactos p{
   font-weight: 900;
   margin-bottom: 10px;
}

.contactos input{
    width: 65%;
    border: none;
    border-radius: 13px;
    background-color: rgb(219, 218, 218);
    color: rgb(149, 149, 149);
    padding: 15px;
    margin-bottom: 10px;
 }

 .contactos button{
    width: 65%;
    border: none;
    border-radius: 13px;
    background-color: #D6000D;
    color: white;
    font-weight: 500;
    padding: 15px;
    margin-bottom: 10px;
 }


.profissionais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.descricao::before{
    content: '';
    width: 100px;
    height: 100px;
    background-color: #D6000D;
}

.__profissional {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self:center ;
}

.circulo{
    min-width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
}

